body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 20px;
    padding: 0;
    background-color: #f9f9f9;
}

h1 {
    color: #444;
}

p {
    color:antiquewhite;
    font-size: 16px;
    line-height: 1.5;
    font-family: Iosevka;
    font-weight: bold;


    border-style: solid;
    border-width: 5px;
    border-color: red;

    border-radius: 12px;
}

a {
    color: #007bff;
    font-size: 16px;
    text-decoration: none;
    font-weight: ultralight;
    underline: double;
    underline-color: #ff0000;
    overline: single;
    overline-color: #ff0000;
    strikethrough: true;
    strikethrough-color: #ff0000;

    margin-right: 50px;
}

ul, ol {
    margin-left: 20px;
}

ok {
    color: red;
}

.omagad {
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"], textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select {
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 3px;

    margin-left: 40px;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
}