menubutton arrow {
    color: magenta;
    -gtk-icon-source: -gtk-icontheme('format-justify-fill-symbolic');
}

tab {
    background-color: #424242;
    border-radius: 12px;
    padding: 5px;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 22pt;
}

h3 {
    font-size: 20pt;
}

h4 {
    font-size: 18pt;
}

h5 {
    font-size: 16pt;
}

h6 {
    font-size: 14pt;
}

a {
    border: none;
    color: #67B7D1;
    text-decoration: underline;
}

tab-label {
    margin-bottom: 3px;
}

tab-button {
    background-color: transparent;
}

input,
textarea {
    border: #424242 1px solid;
    padding: 3px;
    border-radius: 3px;
}