menubutton arrow {
    color: magenta;
    -gtk-icon-source: -gtk-icontheme('format-justify-fill-symbolic');
  }

tab {
    background-color: #424242;
    border-radius: 12px;
    padding: 5px;
}

a {
    border: none;
    color: #67B7D1;
    text-decoration: underline;
}

tab-label {
    margin-bottom: 3px;
}

tab-button {
    background-color: transparent;
}

input, textarea {
    border:#424242 1px solid;
    padding: 3px;
    border-radius: 3px;
}