body {
    direction: column;
    align-items: center;
}

message_container {
    background-color: white;
    direction: column;
}

message {
    direction: column;
    background-color:  #ffffff;
}

username {
    background-color:  #ffffff;

    font-size: 10px;
}

message_text {
    font-size: 9px;
}

message_container {
    direction: column;
    gap: 10px;
}

send_button {
    background-color: red;
}